# Dependencies
node_modules

# Environment variables
.env

# Logs
logs
*.log

# Compiled output
dist
build

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Config files
config/*.js